<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LAWST.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <LAWST.My.MySettings>
            <setting name="RecentConfigFilename1" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentConfigFilename2" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentConfigFilename3" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentConfigFilename4" serializeAs="String">
                <value />
            </setting>
            <setting name="BrushSeaNode" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="BrushLandNode" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="BrushShoreNode" serializeAs="String">
                <value>BurlyWood</value>
            </setting>
            <setting name="BrushNodeSize" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="PenRoadColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PenRoadSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PenSealaneColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="PenSealaneSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PenPipelineColor" serializeAs="String">
                <value>192, 64, 0</value>
            </setting>
            <setting name="PenPipelineSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RiskZeroForUtilization" serializeAs="String">
                <value>0.5</value>
            </setting>
        </LAWST.My.MySettings>
    </userSettings>
</configuration>